.weatherForm {
    position: relative;
    display: flex;
    flex-direction: column;

    text-shadow: 1px 1px var(--clr-bg-main);
    font-size: 1.1rem;
    line-height: 0.6em;
    /* color: var(--clr-bg-main); */

    /* images resolution */
    max-width: 640px;
    max-height: 360px;

    border-radius: 15px;
    padding: 1em;
}

.weatherForm__section {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.weatherForm__body {
    justify-content: space-around;
}

.weatherForm__body--item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm__header {
    align-items: center;
}

.weatherForm__header--weatherIcon {
    border-radius: 42%;
}

.weatherForm__header--p {
    font-size: clamp(1.5rem, 8vw, 2rem);
    margin: 0;
}