.counter {
    display: flex;
    flex-direction: column;
}

.counter > * {
    margin: 1rem 0;
}

.app-logo {
    max-width: 20em;
    max-height: 20em;
    height: 60vmin;
    width: 60vmin;
    align-self: center;
    pointer-events: none;
    animation: rotate-logo 8s linear infinite;
    background: transparent;
}

.counter-controlSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.asyncButton {
    position: relative;
}

.asyncButton:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: var(--clr-async-animation);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: width 1s linear, opacity 0.5s ease 1s;
}

.asyncButton:active:after {
    width: 0%;
    opacity: 1;
    transition: 0s;
}

@keyframes rotate-logo {
    50% {
        transform: rotateZ(180deg) scale(1.1);
    }
    100% {
        transform: rotateZ(360deg) scale(1);
    }
}
