.emptyField {
    opacity: 0.2;
}

.preferencesItem {
    transition: transform 300ms ease;
    height: 0;
}

.preferencesItem--header {
    cursor: pointer;
}

.preferencesItem--formWrapper {
    transition: transform 200ms ease;
    transform-origin: left top;
    transform: rotateX(90deg);
}

.preferencesItem--formWrapper[visible='1'] {
    transition: transform 500ms ease;
    transform: rotateX(0deg);
    max-height: 0em;
}

.preferencesItem__userForm {
    display: flex;
    flex-direction: column;
}

.preferencesItem__userForm > * {
    align-items: flex-start;
    border: 1px solid green;
}

.preferencesItem__userForm--avatar {
    height: 100%;
    max-width: 6em;
    object-fit: contain;
}

.preferencesItem__userForm--editBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.preferencesItem__userForm--editButton {
    padding: 0 0.1em;
    background: transparent;
}

.preferencesItem__userForm--p {
    margin: 0.6em 0;
}

.preferencesItem__userForm--email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}