.App > * {
    max-width: var(--media-medium-size-threshold);
    margin: 0 auto;
}

.counter {
    display: flex;
    flex-direction: column;
}

.counter > * {
    margin: 1rem 0;
}

.app-logo {
    height: 40vmin;
    pointer-events: none;
    animation: rotate-logo 8s linear infinite;
    background: transparent;
}

.counter-controlSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.asyncButton {
    position: relative;
}

.asyncButton:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: var(--clr-async-animation);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: width 1s linear, opacity 0.5s ease 1s;
}

.asyncButton:active:after {
    width: 0%;
    opacity: 1;
    transition: 0s;
}

.active {
    pointer-events: none;
    color: var(--clr-font-main);
}

.invalid {
    border: 1px solid red;
    border-radius: 8px;
}

.completed {
    border: 1px solid green;
}

.completed-fontColor {
    color: rgb(37, 177, 37);
}

.clickable {
    cursor: pointer;
}

.svg-positive {
    fill: var(--clr-positive);
}

.svg-negative {
    fill: var(--clr-negative);
}

.translucent {
    opacity: 0.6;
    cursor: default;
}

.undisplayed {
    display: none;
}

.noBackground {
    background: transparent;
}

.textButton {
    color: #2e5981;
    text-decoration: underline;
    line-height: 0;
    cursor: pointer;
}
.textButton:hover,
.textButton:active {
    color: #456a8d;
}

.collapsingMenuButton {
    background: transparent;
    stroke: none;
    width: 1.2rem;
    height: 1.2rem;
    transition: filter 150ms ease;
}

.collapsingMenuButton:hover {
    filter: drop-shadow(0 0 0.3rem var(--clr-font-main));
}

@keyframes rotate-logo {
    50% {
        transform: rotateZ(180deg) scale(1.1);
    }
    100% {
        transform: rotateZ(360deg) scale(1);
    }
}

@media screen and (width < 700px) {
    .flex-wide {
        flex-direction: column;
    }

    .flex-wide > * {
        width: 100%;
    }
}