body {
  --sz-header-height: 2.5rem;
  --sz-form-borderRadius: 15px;
  --clr-async-animation: rgb(120, 90, 188, 0.5);
  --clr-link: #646cff;
  --clr-link-disabled: #535bf255;
  --clr-bg-modal: #0004;
  --clr-negative: rgb(158, 34, 59);
  --clr-divider: #3c3d3d;
  --clr-border-buttons-hover: #646cff;

  --clr-positive: #128d15;
  --clr-font-main: #342e3b;
  --clr-bg-main: #ecf2ff;
  --clr-bg-hoverMain: #e5d1fa;
  --clr-button-bg: #e3dffd;
  --clr-spinner: #232323;
  --clr-font-disabled: #6664;
  --clr-link-hover: #747bff;
  --clr-border-widgetIcons: #6664;
  --clr-border-widgetIcons-hover: #747bff;

  --sz-agecalculator: 470px;
  --sz-weatherreport: 340px;
  --sz-freecurrencyapi: 200px;
}

@media screen and (width < 700px) {
  body {
    --sz-agecalculator: 510px;
    --sz-freecurrencyapi: 320px;
  }
}

.dark-theme {
  --clr-font-main: rgba(255, 255, 255, 0.87);
  --clr-bg-main: #242424;
  --clr-bg-hoverMain: #363636;
  --clr-spinner: white;
  --clr-font-disabled: #666;
  --clr-link-hover: #535bf2;
  --clr-button-bg: #414141;
  --clr-positive: rgb(63, 122, 63);
  --clr-border-widgetIcons: #666;
  --clr-border-widgetIcons-hover: #535bf2;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  --media-medium-size-threshold: 700px;
  --sz-cropImage-maxWidth: 1200px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--clr-font-main);
  background-color: var(--clr-bg-main);
  margin: 0;
}

a {
  color: var(--clr-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--clr-link-hover);
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1em;
}

ul {
  list-style: none;
  padding: 0 1px;
}

li,
form,
article,
.formLike {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid var(--clr-font-main);
  border-radius: var(--sz-form-borderRadius);
}

form > *,
.formLike > * {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  /* margin: 0.5em 0; */
}

pre {
  white-space: pre-wrap;
  /* white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;     */
}

label {
  text-align: center;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

option {
  text-align: start;
}

button,
input,
select,
textarea,
.buttonLike,
.react-datetime-picker {
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--clr-button-bg);
  color: var(--clr-font-main);
  transition: border-color 0.25s;
}
button,
input,
select,
textarea {
  padding: 0.6em 1.2em;
}
button:hover,
input:hover,
img:hover,
textarea:hover,
select:hover {
  border-color: var(--clr-border-buttons-hover);
}
button:focus,
button:focus-visible,
input:focus,
input:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}
button:active {
  opacity: 0.8;
}
