:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  --clr-font-main: rgba(255, 255, 255, 0.87);
  --clr-bg-main: #242424;
  --clr-button-bg: #414141;
  --clr-header-bg: #242424;
  --clr-async-animation: rgb(120,90,188, 0.5);

  --media-medium-size-threshold: 700px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  color: var(--clr-font-main);
  background-color: var(--clr-bg-main);
}

body {
  margin: 0;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

ul {
  list-style: none;
  padding: 0 1px;
}

li, form, article {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid var(--clr-font-main);
  border-radius: 15px;
}

form > * {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 0.5em;
}

label {
  text-align: center;
}

textarea {
  resize: vertical;
}

button {
  cursor: pointer;
}

button, input, select, textarea {
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--clr-button-bg);
  transition: border-color 0.25s;
}
button:hover, input:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible,
input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-font-main: #213547;
    --clr-bg-main: #ffffff;
    --clr-button-bg: rgb(225, 225, 225);
    --clr-header-bg: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
